<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin-template.html}">
>
<head>
    <title>Cadastro de Links</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>

<div layout:fragment="conteudo">

    <div class="box">
        <h1>Cadastro de Links#</h1>

        <form method="post" action="/admin/link" th:objetc="${link}">
            <input type="hidden" name="_method" value="put" th:if="${link!= null}">
            <input type="hidden" name="id" th:value="${link?.id}">

            <div>
                <label for="nomeRede"> Rede Social: </label>
                <input type="text" id="nomeRede" name="nomeRede" th:value="${link?.nomeRede}">
            </div>

            <div>
                <label for="linkURL"> Link URL: </label>
                <input type="text" id="linkURL" name="linkURL" th:value="${link?.linkURL}">
            </div>

            <div class="form-group">
                <label>Selecione um Aluno:</label>
                <select id="aluno" name="aluno">
                    <option> -Selecione-</option>
                    <option th:each="aluno : ${alunos}"
                            th:selected="(${aluno.id} == ${link?.aluno?.id})"
                            th:value="${aluno.id}"
                            th:text="${aluno.nome}"></option>
                </select>
            </div>

            <div class="botoes">
                <input type="submit" value="Enviar">
            </div>
        </form>

    </div>

</div>

</body>
</html>