<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin-template.html}">
>
<head>
    <title>Cadastro de Comentarios</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>

<div layout:fragment="conteudo">

    <div class="box">
        <h1>Cadastro de Comentarios#</h1>

        <form method="post" action="/admin/comentario" th:objetc="${comentario}">
            <input type="hidden" name="_method" value="put" th:if="${comentario!= null}">
            <input type="hidden" name="id" th:value="${comentario?.id}">

            <div>
                <label for="categoria"> Categoria: </label>
                <input type="text" id="categoria" name="categoria" th:value="${comentario?.categoria}">
            </div>

            <div>
                <label for="data"> Data: </label>
                <input type="date" id="data" name="data" th:value="${comentario?.data}">
            </div>

            <div>
                <label for="conteudo"> Conteudo: </label>
                <input type="text" id="conteudo" name="conteudo" th:value="${comentario?.conteudo}">
            </div>

            <div class="form-group">
                <label>Selecione um Aluno:</label>
                <select id="aluno" name="aluno">
                    <option> -Selecione-</option>
                    <option th:each="aluno : ${alunos}"
                            th:selected="(${aluno.id} == ${comentario?.aluno?.id})"
                            th:value="${aluno.id}"
                            th:text="${aluno.nome}"></option>
                </select>
            </div>

            <div class="botoes">
                <input type="submit" value="Enviar">
            </div>
        </form>

    </div>

</div>

</body>
</html>