<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
>
<head>
    <title>Cadastro de Cursos</title>
     <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>

<div layout:fragment="conteudo">

    <div class="box">
        <h1>Cadastro de Cursos#</h1>
          
         <form method="post" action="/curso" >
            <input type="hidden" name="_method" value="put" th:if="${curso!= null}">
            <input type="hidden" name="id" th:value="${curso?.id}">
            
            <div>
                <label for="nome"> Nome Curso: </label>
                <input type="text" id="nome" name="nome" th:value="${curso?.nome}">
            </div> 
            
            <div>
                <label for="unidade"> Unidade do Curso: </label>
                <input type="text" id="unidade" name="unidade" th:value="${curso?.unidade}">
            </div>  
             
             <div>
                <label for="tempoDeCurso"> Tempo de curso: </label>
                <input type="text" id="tempoDeCurso" name="tempoDeCurso" th:value="${curso?.tempoDeCurso}">
            </div>  
               
             <div>
                <label for="periodo"> Período de aula: </label>
                <input type="text" id="periodo" name="periodo" th:value="${curso?.periodo}">
            </div>  
              
            <div class="botoes">
		 		<input type="submit" value="Cadastrar">
            </div>
        </form>
			
    </div>

</div>