<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
 
     >  
<head>
     <meta charset="UTF-8">
    <title>Lista de Turmas</title>
     <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
<div layout:fragment="conteudo">
    <h1> Lista de Turma</h1>
    <a href="/turma/cadastro">Novo Turma</a>
    <table>
        <thead>
            <tr>
				<th>Nome</th>
             	<th>Periodo</th>
				<th>Semestre</th>
				<th>Ano Inicio</th>
				<th>Ano Formação</th>
				<th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="turma : ${lista}">
            	<td th:text="${turma.nome}"></td>
                <td th:text="${turma.periodo}"></td>
				<td th:text="${turma.semestre}"></td>
				<td th:text="${turma.anoInicio}"></td>
				<td th:text="${turma.anoFormacao}"></td>
				<td>
					<a th:href="@{/turma/cadastro?id={id}(id=${turma.id})}">Editar</a>

					<form  action="/turma" method="post">
						<input type="hidden" name="_method" value="delete">
						<input type="hidden" name="id" th:value="${turma.id}">
						<input type="submit" value="Excluir">
					</for> 
				</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>


</body>
</html>