<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template.html}">

>

<head>
	<meta charset="UTF-8">
	<title>Sobre a Fatec Zona Leste</title>
	<link rel="stylesheet" href="/css/estilo.css">
</head>

<body>

	<div layout:fragment="conteudo">
		<header id="header_sobre">
			<img class="imagem_logo" src="https://bkpsitecpsnew.blob.core.windows.net/uploadsitecps/sites/137/2024/08/logo-fatec_zona_leste.png">
			<h1 class="titulo_sobre"> Sobre a Fatec Zona Leste </h1>
			
		</header>
		<p class="texto_sobre">
			A construção do campus do Centro Tecnológico da Zona Leste teve início em 27/05/2001, oficializada pela
			visita do agora governador Geraldo Alckmin.
			O primeiro vestibular aconteceu nos dias 16 e 17 de março de 2002 para o curso Superior de Tecnologia em
			Informática com ênfase em Gestão de Negócios e Tecnologia em Logística com ênfase em Transportes.
			Em julho de 2002 ocorreu o segundo vestibular,
			onde foi incluído o curso Superior de Tecnologia em Produção com ênfase em Plásticos.
		</p>
		<p class="texto_sobre">
			A partir dessa data, diversos cursos foram adicionados à sua grade sendo eles Comércio Exterior, Gestão
			Empresarial, Desenvolvimento de Produtos Plásticos
			Gestão de Recursos Humanos,AMS (Articulado Médio-Superior) e Desenvolvimento de Software Multiplataforma
			para diferentes horarios. Desde então, a Faculdade de Tecnologia da Zona Leste vem ganhando reconhecimento
			pela qualidade de ensino.
		</p>
		<img src="https://bkpsitecpsnew.blob.core.windows.net/uploadsitecps/sites/137/2024/09/Imagem-do-WhatsApp-de-2024-09-16-as-16.07.49_befeb926-1024x514.jpg">
		<p class="texto_sobre" style=" text-align: center;">
			Para maiores informações, acesse o site <a target="_blank" href="https://fateczl.cps.sp.gov.br/"
				id="link_fatec"> Fatec Zona Leste</a>
		</p>
	</div>
</body>

</html>