<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/estilo.css" th:href="@{/css/estilo.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <style>
    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      margin: 10px 0;
    }

    a {
      text-decoration: none;
      color: black;
      font-size: 16px;
    }

    i {
      margin-right: 4px; /* Espaço entre o ícone e o texto */
    }
  </style>

</head>
<body>
	<header>
        <nav>
            <ul>
                <li><a th:href="@{/carometro}"><i class="fas fa-home"></i> Inicio</a></li>
                <li><a th:href="@{/formulario}">Formulário</a></li>
                <li><a th:href="@{/sobre}"><i class="fas fa-info-circle"></i> Sobre</a></li>
                <li><a th:href="@{/admin}"><i class="fas fa-user-circle"></i> Troca de Contexto: Admin</a></li>
            </ul>
        </nav>
    </header>

<div layout:fragment="conteudo"></div>


</body>
</html>